@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');

:root {
    --font-padrao: 'Overpass', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: #131518;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 412px;
    height: 416px;
    border-radius: 30px;
    background: var(--black-gradient, radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%));
}

.star {
    padding: 16px;
    background: #262E38;
    border-radius: 50%;
    margin: 32px 0 0 32px;
}


h2 {
    font-family: var(--font-padrao);
    margin: 30px 0 0 32px;
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
    margin: 7px 40px 24px 32px;
    text-align: left;
    color: #969FAD;
    font-family: var(--font-padrao);
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

li {
    color: #7C8798;
    font-family: var(--font-padrao);
    font-weight: 700;
    background: #262E38;
    padding: 13px 22px 14px 21px;
    border-radius: 50%;
    user-select: none;
}

button {
    margin: 32px 39px 32px 32px;
    color: #fff;
    letter-spacing: 2px;
    background: #FC7614;
    padding: 11px 138px 11px 137px;
    border-radius: 22.5px;
    border: none;
}

button:hover{
    background: #fff;
    color: #FC7614;
    cursor: pointer;
}

li:hover {
    background: #FC7614;
    color: #fff;
    cursor: pointer;
}

li:active{
    background:#7C8798;
}

/* .tela-principal {
    display: none;
}  */

.main-tela2 h2 {
    margin: 0 134px 7px 135px;
    font-size: 28px;
}

.img-tela2 {
    width: 162px;
    height: 108px;
    margin: 45px 129px 32px 121px;
}

.p1-tela2 {
    background: #262E38;
    border-radius: 22.5px;
    width: 193px;
    height: 32px;
    text-align: center;
    color:#FC7614;
    line-height: 33px;
    margin: 0 109px 32px 110px;
}

.p2-tela2 {
    text-align: center;
    margin: 0 40px 45px 32px;
    font-size: 14.6px;
}

.main-tela2 {
    display: none;
}

.clicado {
    background: #7C8798;
    color:#fff;
}